<nav>
    <div class="container">
        <div class="content">
            <div class="logo-image">
                
                <img class="logo" src="assets/imgs/cartLogo.png"/>

          </div>
          <h2 class="logo">FreshShop</h2>
            <ul>
                <li routerLink="/">Home</li>
                <li routerLink="/products">Products</li>
                <li routerLink="/Cart">Cart</li>
                <li routerLink="/">Categories </li>
                <li routerLink="/">Brands</li>
                <div class="sign">
                    <li routerLink="/loginPage">Login</li>
                    <li routerLink="/registerPage">Register</li>
                </div>
            </ul>
        </div>
    </div>
</nav>