<footer class="container">
  <div>
      <h6>Get The Freshapp Cart</h6>
      <p>We Will send you a link,open it in your phone to download the app</p>
      <div >
          <div class="btn_txt" class="footer-email"> <!-- This is the wrapper div around the text input -->
              <input class="txt" type="text" placeholder="Email"/>
              <input class="btn-primary" type="button" value="Share App Link"/>
          </div>
          <hr>
      </div>
      <div class="footer-payment">
          <h6>Payment Cards</h6>
      </div>
      <hr>
  </div>
  
</footer>